body {
    background: rgb(114, 0, 167);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.363);
}

div {

    padding: 9px;
}

div#msg {
    font-size: 22pt;
}

img {
    width: 400px;
    height: 400px;
}

footer {
    color: white;
    text-align: center;
}